/*.imagelightbox {*/
/*position: fixed;*/
/*z-index: 9999;*/
/*-ms-touch-action: none;*/
/*touch-action: none;*/
/*}*/

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.masonry-brick .text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
}

.masonry-brick:hover span.text-content {
    opacity: 1;
}

span.text-content {
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24pt;
    color: white;
    cursor: pointer;
    display: table;
    float: left;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content.landscape {
    height: 198px;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

/* Content loading is in progress */
.mfp-s-loading {
    background: url('../../assets/images/tarziprojekt_preloader_white.gif') no-repeat center center;
}

/* Content successfully loaded */
.mfp-s-ready {
}

/* Error during loading  */
.mfp-s-error {
}

.mfp-figure .mfp-close:hover {
    cursor: pointer;
}

.mfp-figure {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
    -ms-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
