<div class="social">
    <ul>
        <a href="http://facebook.com/tarzi.projekt" target="_blank">
            <li class="facebook"></li>
        </a>
        <a href="http://instagram.com/tarziprojekt" target="_blank">
            <li class="instagram"></li>
        </a>
        <a href="https://500px.com/tarzi84" target="_blank">
            <li class="px500"></li>
        </a>
        <a href="https://www.pinterest.com/blinttarzi" target="_blank">
            <li class="printerest"></li>
        </a>
        <a href="mailto:tarzi.projekt@gmail.com" target="_blank">
            <li class="mail"></li>
        </a>
    </ul>
</div>