.contact {
    background: url('../../../assets/images/contact.jpg') no-repeat;
    height: 500px;
}

@media (min-width: 1200px) {
    .contact {
        background: url('../../../assets/images/contact.jpg') no-repeat fixed right;
        height: 100% !important;
    }
}

@media (max-width: 600px) {
    .contact {
        background: url('../../../assets/images/contact.jpg') no-repeat fixed 10%;
    }

    .contact-link {
        font-size: 8pt;
    }
}

@media (max-width: 500px) {
    .contact {
        background-image: none;
    }

    .contact-link {
        font-size: 8pt;
    }
}

.contact table {
    letter-spacing: 2px;
}

.contact-form {
    background: rgba(255, 255, 255, .1);
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}

.contact-header {
    padding-top: 10px;
    height: 50px;
}

.contact-details {
    font-size: 16pt;
    font-weight: bold;
    text-align: justify;
}

.contact-details a {
    color: whitesmoke;
    font-size: 12pt;
    padding-left: 10px;
}

.contact-details span {
    padding-left: 10px;
}

.contact-header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.heading-contact {
    font-size: 12pt;
}

.contact-details .skype-name {
    font-size: 12pt;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.contact-link {
    padding-left: 5px;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 12pt;
    color: lightgrey;
}

.write-here {
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 14pt;
}

.mail-address a {
    font-family: 'Oxygen', sans-serif;
    color: whitesmoke;
}

.contact .social {
    padding-bottom: 40px;
}

.entry-social {
    color: rgb(126, 126, 126);
    font-family: 'Open Sans', Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    width: 100%;
    line-height: 23.799999237060547px;
    float: left;
    /*text-align: left;*/
}

.entry-social .row {
    padding-bottom: 10px;
}

.entry-social div {
    display: block;
    vertical-align: middle;
}

.entry-social a span {
    padding-left: 5px;
    padding-right: 40px;
}

.entry-social a {
    text-decoration: none;
    display: block;
    color: #FFFFFF !important;
    font-weight: bold;
    transition: background-color .3s;
    border-radius: 10px;
}

.entry-social .fb a {
    padding: 7px 10px 7px 10px;
    background: #3B5999;
}

.entry-social .instagram a {
    padding: 7px 10px 7px 10px;
    background: #517fa4;
}

.entry-social .px500 a {
    padding: 7px 10px 7px 10px;
    background: forestgreen;
}

.entry-social .pinterest a {
    padding: 7px 10px 7px 10px;
    background: #CB2027;
}

.entry-social .fb a:hover {
    background-color: rgb(50, 75, 129);
}

.entry-social .instagram a:hover {
    background-color: rgb(72, 113, 140);
}

.entry-social .px500 a:hover {
    background-color: rgb(25, 125, 10);
}

.entry-social .pinterest a:hover {
    background-color: rgb(174, 28, 35);
}

@media screen and (max-device-width: 400px) {
    .entry-social a span {
        padding-left: 5px;
        padding-right: 5px;
    }
}